.todo-item {
    align-items: center;
    border: 3px solid black;
    border-radius: 10px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-bottom: 10px;
    padding: 20px;


    .check-box {
        background-color: white;
    }

    .todo-text {
        color: black;
        width: 100%;
        text-align: left;
        margin: 0 20px;
    }

    .strikethrough {
        text-decoration: line-through;
    }

    .trash {
        width: 5vw;
    }
}

@media screen and (min-width: 650px) {
    .todo-item {
        .trash {
            width: 20px;
        }
    }
}